<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>11</integer>
	<integer>77</integer>
	<integer>22</integer>
	<integer>82</integer>
	<integer>28</integer>
	<integer>80</integer>
	<integer>80</integer>
	<integer>48</integer>
	<integer>57</integer>
	<integer>30</integer>
</array>
</plist>
